ul,
li {
    padding: 0px;
}
li {
    list-style: none;
}

#main {
    position: relative;
    margin: 0 100px;
}
/* popularity photograph */
.container-price-popularity{
    position: fixed;
    right: 35px;
    bottom: 0;
    background-color: #DB8876;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}
.container-price-popularity img {
    height: 15px;
    width: 15px;
}
.container-price-popularity span {
    
    font-weight: bold;
}
/* photograph header */
.photograph-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 50px;
    padding: 0 50px 0 50px;
}
.image-photographer:hover img {
    bottom: 0px;
}
.container-description {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}
.container-description h2 {
    color: #D3573C;
    font-size: 60px;
    margin: 0px;
}
.container-description .description-photographer-1 {
    color: #901C1C;
    font-size: 25px;
}

.container-description .description-photographer-2 {
    font-size: 20px;
}

.container-description .description-photographer-1,
.container-description .description-photographer-2
 {
    margin: 1px;
}
/* section */
#section {
    margin-top: 50px;
}
.container-dropdownList label {
    font-weight: bold;
    font-size: 20px;
}
.container-dropdownList select {
    
    margin-left: 15px;
    padding: 15px;
    background-color:#901C1C;
    color: white;
    font-size: 15px;
}
.list-medias {
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 50px;
}
/* card media */
.card-media-photographer {
    position: relative;
     height: 100%;
     border-bottom: 3px solid transparent ;
     transition: all 0.2s;
     
}
.card-media-photographer:hover {
    border-bottom: 3px solid #DB8876 ;
    
}
.media-picture{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    background-color: rgb(220, 217, 217);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    
}
.icon-play-media {
    position: absolute;
    z-index: 2;
    filter: invert(57%) sepia(11%) saturate(7401%) hue-rotate(321deg) brightness(80%) contrast(104%);
    width: 15%;
    height: 15%;
    cursor: pointer;
}
.icon-play-media:hover{
    filter: invert(11%) sepia(94%) saturate(3370%) hue-rotate(354deg) brightness(89%) contrast(85%);

}

.video-media{
    filter: blur(2px);
}
.image-media, .video-media {
    position: absolute;
    height: 110%;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease-out;
    bottom: -5px;
}
.card-media-photographer:hover .image-media,
.card-media-photographer:hover .video-media {
    bottom: 0px;
}
.title-media {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    
}
.title-media h2 {
    color: #901C1C;
    font-size: 20px;
    
}
.count-like-media {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: #901C1C;
    font-weight: bold;
    font-size: 20px;
    
}
.count-like-media img {
    filter: invert(11%) sepia(94%) saturate(3370%) hue-rotate(354deg) brightness(89%) contrast(85%);
    margin-left: 15px;
    height: 20px;
    width: 20px;
}
/* modal */
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}
.contact_button:hover, .contact_button:active{
    background-color: #DB8876;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#contact_modal {
    position: fixed;
    display: none;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, hsl(300, 40%, 20%),hsl(300, 40%, 5%));
}
.modal {
    position: absolute;
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
