ul,
li {
    padding: 0px;
}
li {
    list-style: none;
}

/* popularity photograph */
.container-price-popularity{
    position: fixed;
    right: 35px;
    bottom: 0;
    background-color: #DB8876;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}
.container-price-popularity img {
    height: 15px;
    width: 15px;
}
.container-price-popularity span {
    
    font-weight: bold;
}
/* photograph header */
.photograph-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 50px;
    padding: 0 50px 0 50px;
}
.image-photographer:hover img {
    bottom: 0px;
}
.container-description {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}
.container-description h2 {
    color: #D3573C;
    font-size: 60px;
    margin: 0px;
}
.container-description .description-photographer-1 {
    color: #901C1C;
    font-size: 25px;
}

.container-description .description-photographer-2 {
    font-size: 20px;
}

.container-description .description-photographer-1,
.container-description .description-photographer-2
 {
    margin: 1px;
}
/* section */
#section {
    margin-top: 50px;
    margin: 100px 20px;
}
.container-dropdownList label {
    font-weight: bold;
    font-size: 20px;
}
.container-dropdownList select {
    
    margin-left: 15px;
    padding: 15px;
    background-color:#901C1C;
    color: white;
    font-size: 15px;
}
.list-medias {
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 50px;
}
/* card media */
.card-media-photographer {
    position: relative;
     height: 100%;
     border-bottom: 3px solid transparent ;
     transition: all 0.2s;
     
}
.card-media-photographer:hover {
    border-bottom: 3px solid #DB8876 ;
    
}
.media-picture{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    background-color: rgb(220, 217, 217);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    
}
.icon-play-media {
    position: absolute;
    z-index: 2;
    filter: invert(57%) sepia(11%) saturate(7401%) hue-rotate(321deg) brightness(80%) contrast(104%);
    width: 15%;
    height: 15%;
    cursor: pointer;
}
.icon-play-media:hover{
    filter: invert(11%) sepia(94%) saturate(3370%) hue-rotate(354deg) brightness(89%) contrast(85%);

}

.video-media{
    filter: blur(2px);
}
.image-media, .video-media {
    position: absolute;
    height: 110%;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease-out;
    bottom: -5px;
}
.card-media-photographer:hover .image-media,
.card-media-photographer:hover .video-media {
    bottom: 0px;
}
.title-media {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    
}
.title-media h2 {
    color: #901C1C;
    font-size: 20px;
    
}
.count-like-media {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: #901C1C;
    font-weight: bold;
    font-size: 20px;
    
}
.count-like-media img {
    filter: invert(11%) sepia(94%) saturate(3370%) hue-rotate(354deg) brightness(89%) contrast(85%);
    margin-left: 15px;
    height: 20px;
    width: 20px;
}
/* modal */
.contact_button,
.contact_submit {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}
.contact_button:hover, .contact_button:active,
.contact_submit:hover,.contact_submit:active {
    background-color: #DB8876;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#contact_modal {
    position: fixed;
    display: none;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background: radial-gradient(black, transparent);
    left: 0;
    top: 0;
    overflow: auto;
}
.modal {
    position: relative;
    border-radius: 5px;
    background-color: #DB8876;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: center;
    padding: 35px;
    margin: 50px auto;
    overflow: hidden;
    max-width: 550px;
    animation: modalopenY 0.8s;
    
}
@keyframes modalopenY {
    from {
      opacity: 0;
      transform: translateY(-150px);
    }
  
    to {
      opacity: 1;
    }
  }
  @keyframes modalopenX {
    from {
      opacity: 0;
      transform: translateX(-150px);
    }
  
    to {
      opacity: 1;
    }
  }
#header-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container-title-contact {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}
.container-title-contact h2 {
    font-size: 40px;
    font-weight: 500;

}
.container-icon-close{
    display: flex;
    align-items: flex-start;
    height: 100%;
}
.icon-close{
    cursor: pointer;
    width: 30px;
    height: 30px;
}
/* form modal */
form[name="form-modal"] {
    
    width: 100%;

}


form[name="form-modal"] label {
    color: #312E2E;
    font-size: 25px;
    font-weight: 400;
}

form[name="form-modal"] .formData {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

form[name="form-modal"] .text-control {
    width: 100%;
    height: 68px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    outline: 3px solid;
    outline-color: transparent;
    transition: all 0.2s;

}
form[name="form-modal"] .text-control:focus{
    outline-color:black
}
form[name="form-modal"] #your-message {
    resize: none;
    height: 120px;
    border-bottom: 20px solid;
    border-bottom-color: transparent;
    font-size: 15px;
}


#count-character{
    position: absolute;
    bottom: 5px;
    right: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #D3573C;    
}
.modal-registration-validated{
    display: none;
    animation: modalopenX 0.8s;
    text-align: center;
    
}

.confirm-modal{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    font-weight: bold;
    height: 200px;

}

form[name="form-modal"] .contact_button,
form[name="form-modal"] .contact_submit {
    font-size: 15px;
    width: 140px;
    height: 60px;
}

/* data error message */
.formData[data-error]::after {
    position: absolute;
    right: 0;
    content: attr(data-error);
    color: black;
    display: block;
    font-size: 0.8em;
    opacity: 0;
    transition: 0.3s;
    font-weight: 600;
  }
  
  .formData[data-error-visible="true"]::after {
    opacity: 1;
  }
  
  .formData[data-error-visible="true"] .text-control {
    outline: 3px solid #901C1C;
  }
  
  .formData[data-correct="true"] .text-control {
    outline: 3px solid #279e7a;
  }