@import url("photographer.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
/* scroll bar (not supported on firefox and safari) */
  ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #da2c2c;
    border-radius: 10px;
    
}
::-webkit-scrollbar-thumb:hover {
    background: #901C1C;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   
  }
::-webkit-scrollbar-button{
    height: 5px;
  }
/* Link */
a {
    text-decoration: none;
    color: black;
}
/* body */
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}
.container-body {
    position: relative;
    margin: auto;
    max-width: 1440px;
}
/* header */
.container-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin: 0 20px;
}

h1 {
    color: #901C1C;
}

/* Logo */
.logo {
    height: 50px;
}
/* list photographers homePage */
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 100px 0;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-radius: 20px;
    transition: all 0.2s;
}
.photographer_section article:hover {
    border-top: 3px solid #901C1C;
    border-bottom: 3px solid #901C1C;
} 
.photographer_section article a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 0px;
}
.photographer_section article:hover h2 {
    text-decoration: underline #D3573C;
} 

.image-photographer {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    overflow: hidden;
    background-color: rgb(220, 217, 217);
}
.image-photographer img {
    position: absolute;
    height: 110%;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease-out;
    bottom: -5px;
}
.photographer_section article:hover img {
    bottom: 0px;
}

.photographer_section article .description-photographer-1 {
    color: #901C1C;
}

.photographer_section article .description-photographer-2 {
    font-size: 13px;
}

.photographer_section article .description-photographer-3 {
    font-size: 12px;
}

.photographer_section article .description-photographer-1,
.photographer_section article .description-photographer-2 {
    font-weight: bold;
}

.photographer_section article .description-photographer-1,
.photographer_section article .description-photographer-2,
.photographer_section article .description-photographer-3 {
    margin: 1px;
}