@import url("photographer.css");
/* body */
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

/* flex heading page */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
/* title website */
h1 {
    color: #901C1C;
    margin-right: 100px;
}
/* Link */
a {
    text-decoration: none;
    color: black;
}
/* Logo */
.logo {
    height: 50px;
    margin-left: 100px;
}
/* grid photographers homePage */
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 100px 0px 100px 0px;
}
/* profil photographers HomePage */
.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-radius: 20px;
    transition: all 0.2s;
}
.photographer_section article:hover {
    border-top: 3px solid #901C1C;
    border-bottom: 3px solid #901C1C;
} 
.photographer_section article a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 0px;
}
.photographer_section article:hover h2 {
    text-decoration: underline #D3573C;
} 

.image-photographer {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    overflow: hidden;
    background-color: rgb(220, 217, 217);
}
.image-photographer img {
    position: absolute;
    height: 110%;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease-out;
    bottom: -5px;
}
.photographer_section article:hover img {
    /* object-position: 50% 70% */
    bottom: 0px;
}

.photographer_section article .description-photographer-1 {
    color: #901C1C;
}

.photographer_section article .description-photographer-2 {
    font-size: 13px;
}

.photographer_section article .description-photographer-3 {
    font-size: 12px;
}

.photographer_section article .description-photographer-1,
.photographer_section article .description-photographer-2 {
    font-weight: bold;
}

.photographer_section article .description-photographer-1,
.photographer_section article .description-photographer-2,
.photographer_section article .description-photographer-3 {
    margin: 1px;
}